---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/assets/feed.xsl"?>
<?xml-stylesheet type="text/css" href="/assets/feed.css"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author.name }}</name>
  </author>
  {% for post in collections.posts | reverse %}
  {% set absUrl %}{{ site.url }}{{ post.url }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absUrl }}</id>
    {% if post.data.description %}<summary>{{ post.data.description }}</summary>{% endif %}
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absUrl) | escape }}</content>
  </entry>
  {% endfor %}
</feed>
