---
layout: layouts/base.njk
title: Tags
permalink: /tags/
---
<h1>Tags</h1>
<ul>
  {% for tag in collections.tagList %}
    <li><a href="/tags/{{ tag | slugify }}/">#{{ tag }}</a> ({{ collections[tag] | length }})</li>
  {% endfor %}
</ul>
